<div class="overview">
<div class="accordion" id="accordionExample">
    <div class="accordion-item" *ngIf="((myProfileMode$ | async) == true) && ((selectedUser$ | async).user_info==null || ((selectedUser$ | async).user_info != null && (selectedUser$ | async).user_info.workplace ==null))">
      <h2 class="accordion-header" id="workplaceHeader">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#workplace" aria-expanded="true" aria-controls="workplace">
          <i class="bi bi-plus-circle h5"></i> <span style="padding-left: 5px;">Add a workplace</span>
        </button>
      </h2>
      <div id="workplace" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
              <form
                id="workplaceForm"
                [formGroup]="workplaceForm"
                (ngSubmit)="setWorkplace()"
                novalidate>
                <div class="d-grid gap-2">
                  <div class="form-group">
                    <input type="text" 
                          class="form-control"
                          id="workplace"
                          formControlName="workplace"
                          name="workplace"
                          placeholder="Workplace">
                  </div>
                  <div class="form-group save-btn">
                    <button class="btn btn-primary cancel-btn" data-bs-toggle="collapse" data-bs-target="#workplace">Cancel</button>
                    <button class="btn btn-primary save-btn-btn" type="submit" id="submitButton" role="submit"
                    [disabled]="workplaceForm.invalid || workplaceForm.pristine">Save</button>
                  </div>
                </div>
              </form>
          </div>
      </div>
    </div>
    <div class="user-info" *ngIf="(myProfileMode$ | async) == true && ((selectedUser$ | async).user_info != null && (selectedUser$ | async).user_info.workplace != null)">
      <div class="user-info-info">
      <i class="bi bi-briefcase-fill h4 intro-icons"></i> Works at <span style="font-weight: bold;">{{(selectedUser$ | async).user_info.workplace}}</span>
      </div>
      <div class="user-info-controls">
        <button><i class="bi bi-pen h5"></i></button>
      </div>
    </div>
    <div class="user-info" *ngIf="((myProfileMode$ | async) == false)">
      <div class="user-info-info">
      <i class="bi bi-briefcase-fill h4 intro-icons"></i> 
      <span *ngIf="(selectedUser$ | async).user_info != null && (selectedUser$ | async).user_info.workplace != null">
      Works at <span style="font-weight: bold;">{{(selectedUser$ | async).user_info.workplace}}</span>
      </span>
      <span *ngIf="(selectedUser$ | async).user_info == null || (selectedUser$ | async).user_info.workplace == null">
        No items to show
        </span>
      </div>
      
    </div>

   
    <div class="accordion-item" *ngIf="((myProfileMode$ | async) == true) && ((selectedUser$ | async).user_info==null || ((selectedUser$ | async).user_info != null && (selectedUser$ | async).user_info.college ==null))">
      <h2 class="accordion-header" id="collegeHeader">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#college" aria-expanded="false" aria-controls="college">
          
          <i class="bi bi-plus-circle h5"></i> <span style="padding-left: 5px;">Add college</span>
        </button>
      </h2>
      <div id="college" class="accordion-collapse collapse"  data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <form
          id="collegeForm"
          [formGroup]="collegeForm"
          (ngSubmit)="setCollege()"
          novalidate>
          <div class="d-grid gap-2">
            <div class="form-group">
              <input type="text" 
                    class="form-control"
                    id="college"
                    formControlName="college"
                    name="college"
                    placeholder="College">
            </div>
            <div class="form-group d-flex save-btn" style="align-items: flex-end">
              <button data-bs-toggle="collapse" data-bs-target="#college" class="btn btn-primary cancel-btn">Cancel</button>
              <button type="submit" id="submitButton"  role="submit" class="btn btn-primary save-btn-btn"
              [disabled]="collegeForm.invalid || collegeForm.pristine">Save</button>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
    <div class="user-info" *ngIf="(myProfileMode$ | async) == true && ((selectedUser$ | async).user_info != null && (selectedUser$ | async).user_info.college != null)">
      <div class="user-info-info">
      <i class="bi bi-mortarboard-fill h4 intro-icons"></i> Studied at <span style="font-weight: bold;">{{(selectedUser$ | async).user_info.college}}</span>
      </div>
      <div class="user-info-controls">
        <button><i class="bi bi-pen h5"></i></button>
      </div>
    </div>
    <div class="user-info" *ngIf="((myProfileMode$ | async) == false)">
      <div class="user-info-info">
      <i class="bi bi-mortarboard-fill h4 intro-icons"></i> 
      <span *ngIf="(selectedUser$ | async).user_info != null && (selectedUser$ | async).user_info.college != null">
      Studied at <span style="font-weight: bold;">{{(selectedUser$ | async).user_info.college}}</span>
      </span>
      <span *ngIf="(selectedUser$ | async).user_info == null || (selectedUser$ | async).user_info.college == null">
        No items to show
        </span>
      </div>
      
    </div>



    <div class="accordion-item" *ngIf="((myProfileMode$ | async) == true) && ((selectedUser$ | async).user_info==null || ((selectedUser$ | async).user_info != null && (selectedUser$ | async).user_info.currentPlace ==null))">
      <h2 class="accordion-header" id="currentHeader">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#current" aria-expanded="false" aria-controls="relationship">
          <i class="bi bi-plus-circle h5"></i> <span style="padding-left: 5px;">Add current place</span>
        </button>
      </h2>
      <div id="current" class="accordion-collapse collapse"  data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <form
          id="currentPlaceForm"
          [formGroup]="currentPlaceForm"
          (ngSubmit)="setCurrentPlace()"
          novalidate>
          <div class="d-grid gap-2">
            <div class="form-group">
              <input type="text" 
                    class="form-control"
                    id="currentPlace"
                    formControlName="currentPlace"
                    name="currentPlace"
                    placeholder="Current place">
            </div>
            <div class="form-group d-flex save-btn" style="align-items: flex-end">
              <button data-bs-toggle="collapse" data-bs-target="#current" class="btn btn-primary cancel-btn">Cancel</button>
              <button type="submit" id="submitButton" role="submit" class="btn btn-primary save-btn-btn"
              [disabled]="currentPlaceForm.invalid || currentPlaceForm.pristine">Save</button>
            </div>
          </div>
        </form>
          </div>
      </div>
    </div>
    <div class="user-info" *ngIf="(myProfileMode$ | async) == true && ((selectedUser$ | async).user_info != null && (selectedUser$ | async).user_info.currentPlace != null)">
      <div class="user-info-info">
      <i class="bi bi-house-door-fill h4 intro-icons"></i> Lives in <span style="font-weight: bold;">{{(selectedUser$ | async).user_info.currentPlace}}</span>
      </div>
      <div class="user-info-controls">
        <button><i class="bi bi-pen h5"></i></button>
      </div>
    </div>
    <div class="user-info" *ngIf="((myProfileMode$ | async) == false)">
      <div class="user-info-info">
      <i class="bi bi-house-door-fill h4 intro-icons"></i> 
      <span *ngIf="(selectedUser$ | async).user_info != null && (selectedUser$ | async).user_info.currentPlace != null">
      Lives in <span style="font-weight: bold;">{{(selectedUser$ | async).user_info.currentPlace}}</span>
      </span>
      <span *ngIf="(selectedUser$ | async).user_info == null || (selectedUser$ | async).user_info.currentPlace == null">
        No items to show
        </span>
      </div>
      
    </div>



    <div class="accordion-item" *ngIf="(myProfileMode$ | async) == true && ((selectedUser$ | async).user_info==null || ((selectedUser$ | async).user_info != null && (selectedUser$ | async).user_info.hometown ==null))">
        <h2 class="accordion-header" id="hometownHeader">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#hometown" aria-expanded="false" aria-controls="hometown">
            <i class="bi bi-plus-circle h5"></i> <span style="padding-left: 5px;">Add hometown</span>
          </button>
        </h2>
        <div id="hometown" class="accordion-collapse collapse"  data-bs-parent="#accordionExample">
          <div class="accordion-body">
            
            <form
          id="hometownForm"
          [formGroup]="hometownForm"
          (ngSubmit)="setHometown()"
          novalidate>
          <div class="d-grid gap-2">
            <div class="form-group">
              <input type="text" 
                    class="form-control"
                    id="hometown"
                    formControlName="hometown"
                    name="hometown"
                    placeholder="Hometown">
            </div>
            <div class="form-group d-flex save-btn" style="align-items: flex-end">
              <button data-bs-toggle="collapse" data-bs-target="#hometown" class="btn btn-primary cancel-btn">Cancel</button>
              <button type="submit" id="submitButton" role="submit" class="btn btn-primary save-btn-btn"
              [disabled]="hometownForm.invalid || hometownForm.pristine">Save</button>
            </div>
          </div>
        </form>
          </div>
        </div>
      </div>
      <div class="user-info" *ngIf="(myProfileMode$ | async) == true && ((selectedUser$ | async).user_info != null && (selectedUser$ | async).user_info.hometown != null)">
        <div class="user-info-info">
        <i class="bi bi-geo-alt-fill h4 intro-icons"></i> From <span style="font-weight: bold;">{{(selectedUser$ | async).user_info.hometown}}</span>
        </div>
        <div class="user-info-controls">
          <button><i class="bi bi-pen h5"></i></button>
        </div>
      </div>
      <div class="user-info" *ngIf="((myProfileMode$ | async) == false)">
        <div class="user-info-info">
        <i class="bi bi-geo-alt-fill h4 intro-icons"></i> 
        <span *ngIf="(selectedUser$ | async).user_info != null && (selectedUser$ | async).user_info.hometown != null">
        From <span style="font-weight: bold;">{{(selectedUser$ | async).user_info.hometown}}</span>
        </span>
        <span *ngIf="(selectedUser$ | async).user_info == null || (selectedUser$ | async).user_info.hometown == null">
          No items to show
          </span>
        </div>
        
      </div>




      <div class="accordion-item" *ngIf="(myProfileMode$ | async) == true && ((selectedUser$ | async).user_info==null || ((selectedUser$ | async).user_info != null && (selectedUser$ | async).user_info.relationshipStatus ==null))">
        <h2 class="accordion-header" id="relationshipHeader">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#relationship" aria-expanded="false" aria-controls="relationship">
            <i class="bi bi-plus-circle h5"></i> <span style="padding-left: 5px;">Add relationship status</span>
          </button>
        </h2>
        <div id="relationship" class="accordion-collapse collapse"  data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <form
            id="relationshipStatusForm"
            [formGroup]="relationshipStatusForm"
            (ngSubmit)="setRelationshipStatus()"
            novalidate>
            <div class="d-grid gap-2">
              <div class="form-group">
                <select class="form-select form-control"
                id="relationshipStatus"
                formControlName="relationshipStatus"
                name="relationshipStatus">
                  <option selected>Status</option>
                  <option value="Single">Single</option>
                  <option value="In a relationship">In a relationship</option>
                  <option value="Merried">Merried</option>
                  <option value="It's complicated">It's complicated</option>
                  <option value="Enaged">Engaged</option>
                </select>
              </div>
              <div class="form-group d-flex save-btn" style="align-items: flex-end">
                <button data-bs-toggle="collapse" data-bs-target="#relationship" class="btn btn-primary cancel-btn">Cancel</button>
                <button type="submit" id="submitButton" role="submit" class="btn btn-primary save-btn-btn"
                [disabled]="relationshipStatusForm.invalid || relationshipStatusForm.pristine">Save</button>
              </div>
            </div>
          </form>
            </div>
        </div>
      </div>
      <div class="user-info" *ngIf="(myProfileMode$ | async) == true && ((selectedUser$ | async).user_info != null && (selectedUser$ | async).user_info.relationshipStatus != null)">
        <div class="user-info-info">
        <i class="bi bi-heart-fill h4 intro-icons"></i> <span>{{(selectedUser$ | async).user_info.relationshipStatus}}</span>
        </div>
        <div class="user-info-controls">
          <button><i class="bi bi-pen h5"></i></button>
        </div>
      </div>
      <div class="user-info" *ngIf="((myProfileMode$ | async) == false)">
        <div class="user-info-info">
        <i class="bi bi-heart-fill h4 intro-icons"></i> 
        <span *ngIf="(selectedUser$ | async).user_info != null && (selectedUser$ | async).user_info.relationshipStatus != null">
       <span>{{(selectedUser$ | async).user_info.relationshipStatus}}</span>
        </span>
        <span *ngIf="(selectedUser$ | async).user_info == null || (selectedUser$ | async).user_info.relationshipStatus == null">
          No items to show
          </span>
        </div>
        
      </div>




  </div>

 
</div>