<div class="user-about">
    <div class="sidebar">
        
        <h4>About</h4>
       <button routerLink="overview" role="button" class="sidebar-nav-link active">Overview</button>
       <button routerLink="work_education" class="sidebar-nav-link">Work and education</button>
       <button routerLink="places" class="sidebar-nav-link">Places lived</button>
       <button routerLink="contact_basic_info" class="sidebar-nav-link">Contact and basic info</button>
       <button routerLink="family_relationships" class="sidebar-nav-link">Family and relationships</button>
       <button routerLink="details" class="sidebar-nav-link">Details about you</button>
       
      
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
