<div class="profile">
    <div class="container">
        <div class="row">
            <div class="col-sm-1">

            </div>
            <div class="col-sm-10">
                <div class="upper">
                    <div class="container">
                        <!--Background photo-->
                        <div class="row">
                            <img src="./assets/djus.jpg" height="400" style="border-radius: 20px !important">
                        </div>
                        <!--Background photo End-->
            
                        <!--Profile pic-->
                        <div class="row">
                            <div class="col-sm-3  profile-pic">
                                <img src="https://randomuser.me/api/portraits/men/11.jpg" class=" rounded-circle profile-img" alt="" 
                                height="180">
            
                            </div>
                            <div class="col-sm-6 short-info mt-2">
                                <div class="row">
                                    
                                
                                <div class="col align-items-start justify-content-start">
                                    <h2>Ana Vanzo</h2>
                                    <span>Prijatelja: 9</span>
                        
                                    <div class="friends-pic-short">
                                        <img src="https://randomuser.me/api/portraits/men/11.jpg" class="rounded-circle small-friend-pic" alt=""  
                                        height="35">
                                        <img src="https://randomuser.me/api/portraits/men/12.jpg" class="rounded-circle small-friend-pic" alt="" 
                                        height="35">
                                        <img src="https://randomuser.me/api/portraits/men/13.jpg" class="rounded-circle small-friend-pic" alt="" 
                                        height="35">
                                        <img src="https://randomuser.me/api/portraits/men/14.jpg" class="rounded-circle small-friend-pic" alt="" 
                                        height="35" >
                                        <img src="https://randomuser.me/api/portraits/men/15.jpg" class="rounded-circle small-friend-pic" alt="" 
                                        height="35" >
                                        <img src="https://randomuser.me/api/portraits/men/11.jpg" class="rounded-circle small-friend-pic" alt=""  
                                        height="35">
                                        <img src="https://randomuser.me/api/portraits/men/12.jpg" class="rounded-circle small-friend-pic" alt="" 
                                        height="35" >
                                        <img src="https://randomuser.me/api/portraits/men/13.jpg" class="rounded-circle small-friend-pic" alt="" 
                                        height="35" >
                                      
                                   
                                    </div>
                                </div>
                               </div>
                               
            
            
                            </div>
                            <div class="col-sm-4">
            
                            </div>
            
                        </div>
                        <!--Profile pic End-->
            
                        <!--Profile navigation-->
                        <div class="row">
            
                        </div>
                        <!--Profile navigation end-->
                    </div>
            
                </div>
                <!--Upper End-->
            
                <!--Down-->
                <div class="down">
            
                </div>
            </div>
            <div class="col-sm-1">

            </div>
        </div>
    </div>
   
    <!--Down End-->
</div>